/* Animations */

@keyframes blink {
  50% {
    opacity: 0.2;
  }
}

/* Styles */

.app {
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;
  text-align: center;
  background: yellow;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.stage {
  width: 100%;
}

.title {
  font-size: 2.5rem;
  padding: 20px 20px;
  margin-bottom: 5rem;
}

.max-score {
  color: red;
  animation: blink 1s ease-in-out infinite;
  font-size: 1.5rem;
  transform: rotate(-20deg);
  margin-bottom: -4rem;
  left: -15%;
  position: relative;
}

.big-title {
  font-size: 5rem;
}

.blink {
  animation: blink 1s ease-in-out infinite;
}

.debug {
  position: absolute;
  bottom: 10px;
  left: 0px;
  display: flex;
  text-align: left;
  color: red;
  font-family: sans-serif;
  font-size: 10px;
}